<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
      <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="form-container">
        <div class="form-box">
            <h1>Add Student</h1>
            <a href="/students" class="back-btn">
    Back to Students
</a

            <form action="/students/add" method="POST">
                <input type="text" name="usn" placeholder="Enter USN" required>

                <input type="text" name="name" placeholder="Enter Name" required>

                <input type="text" name="branch" placeholder="Enter Branch" required>

                <button type="submit">Add Student</button>
            </form>
        </div>
    </div>
</body>

</html>